<div>
    <%= avatar (shout.user)%>
    <%= link_to shout.username, shout.user %>: 
    <%= render shout.content %>
    <%= link_to shout do %>
        <i><%= time_ago_in_words(shout.created_at) %> </i> ago
    <% end %>
    <%= like_button(shout) %>
</div>